# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/
ENV/

# Environment Variables
.env
.env.*
!.env.example

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/
*.egg-info/

# Docker
docker-data/

# Zip files
*.zip

# SQL Backups
*_backup.sql
*.bak

# Coverage
.coverage
htmlcov/

# Temporary
tmp/
temp/